header {z-index: 2}
.sticky { position: fixed; left: 0; right:0; top:0}



.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);

  
    @media (max-width: $mantine-breakpoint-sm) {
      padding-top: calc(var(--mantine-spacing-xl) * 1);
      padding-bottom: calc(var(--mantine-spacing-xl) * 1);
   
    }
  }
  
  .title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 28px;
      text-align: left;
    }
  }
  
.description {
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-sm) {
      text-align: left;
    }
  }

  .highlight {
    color: #e81de0;
  }


  hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
  font-size: 2.5em !important;
}

.markdown p{
  color: rgb(121 132 142) !important;
}
h2 {
  margin-top: 0;
}

.mantine-Drawer-content {
  background-color: #00056b;

  a {

      }

      h2{
        font-weight: 900;
        color: white;
        font-size: 30px;
      }
}

.mantine-Drawer-header{
  background-color: #00056b;
  svg {
    color: white;
}
}

.logo {
  color: white;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 24px;
    line-height: 24px;
}
.logoBottom {
  font-size: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase ;
  line-height: 9px;
  font-weight: 300;
  color: #ffb5ee;
}


@media (max-width: $mantine-breakpoint-sm) {
  .bg-image {
        inset: auto !important;
        width: auto !important;
        right: 0 !important;
        top: 0 !important;
  }
}


.mantine-Textarea-input {
  height: 255px !important
}
